<!-- <p>newsletter-form works!</p> -->
<section class="form-section ">

    <div class="text">
         <h3>Fique por dentro de tendências</h3>

         <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt ipsam quis natus debitis possimus ad vel labore nesciunt quod autem at, amet totam similique suscipit recusandae sapiente, itaque laudantium quos?</p>
    </div>

    <form [formGroup]="newsletterForm">
        <label for="email">Name</label>
        <input id="name" formControlName="name"/>

        <label for="email">Email</label>
        <input id="email" formControlName="email"/>
        <btn-primary btn-text="se inscreva" variant="secondary"></btn-primary>
    </form>


</section>