<header class="app-header">
    <img ngSrc="./assets/logo.png" priority width="250" height="200" alt="Logo" />
  </header>
  
<!-- + qtd. de img + tempo de carregamento -->
 <!-- ngSrc="assets/logo.png"  /> -->
<!-- Sendo que o NgOptimizedImage tem um recurso que faz o lazy load de imagens, ou seja, ele só carrega a imagem quando ela está visível na tela. Isso melhora o desempenho da aplicação, pois evita o carregamento de imagens que não estão sendo exibidas.
 Sendo que tem algumas especificações vão precisar serem utlizadas e carregadas, uma delas e a 
 priority que como esta sendo explicado indica prioridade para a questão do carregamento da pagina 
 
 -->


 <!-- leyautout shift quando não acontece a sua especificação, carrega a pagina e ocorre o processo de adaptação  -->


<!-- Além de outros atributos ex: loading- como a imagem vai ser carregada
 tendo o eager e o lazy - sendo 2 processos que estão relacionadas  com o carregamento das paginas 
 eager - carregamento assim que o img for processado
 lazy - carregamento quando a imagem estiver visível na tela
 -->
