<app-header></app-header>

<main> 
 
    <section class="main-section pad-70">
        <div class="headline">
 <span>KIPPER CONSULTORIA </span>
 <h1>A consultoria que voce busca para o seu software</h1>
        </div>
        <img ngSrc="/assets/pagina.png" width="660" height="533" alt="Imagem Principal ">
        
    </section>


    <section class="benefit-section pad-70">
         <div class="benefit-data">
            <h2>95% das empresas <br/></h2>
             
         </div>
        <p>Não sabem lidar com os problemas de <b>Escalabilidade </b> e com grande volume de requisições </p>
    </section>


</main>

<!-- assets: src/assets -->